.todo-form {
  max-width: 400px;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    border-style: none;
    padding: 1rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: $primaryColor;
    border-radius: 0.75rem;
    height: 2.5rem;
  }

  button {
    @include reset-button;

    width: 2.75rem;
    height: 2.75rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm() {
      &:hover {
        border-radius: 1rem;
      }
    }
  }
}
